div{
    height: 30px;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;

}
div:nth-of-type(2n){
    background-color: aqua;
}
div:nth-of-type(2n+1){
    background-color: aquamarine;
}
#one{
   /* transform: rotate(45deg); */
   transform: translate(100px,100px);
}
#two{
    transform: rotate(45deg);
}
#three{
    transform: skew(35deg);
}
#four{
    border: none;
    transform: scale(2,1);
    box-shadow: 0px 0px 100px yellow;
}
#five{
    /* transform:rotate(45deg) translateX(130px) ; */
    transform:rotate(45deg);
}
#img{
    height: 200px;
    width: 400px;
    border: 2px solid black;
    margin: 100px auto;
    background-image:url(33048-istockgetty-images-plusnorima_source_file.jpg) ;
    background-size: cover;
    color: black;
}

