/* * {

    font-family: 'Courier New';
    
    }
    
    
    
    h3{
    
    color: #b92b27;
    
    text-decoration: line-through;
    
    /* color: antiquewhite; 
    
    }
    
    h1{
    
    color: #b92b27;
    
    }
    
    .up{
    
    background-color: green;
    
    color: white;
    
    }
    
    
    
    #signup{
    
    background-color: #b92b27;
    
    color: beige;
    
    }
    
    
    
    nav ul li a{
    
    color: hotpink;
    
    }
    
    
    
    p a{
    
    color:black;
    
    background-color: yellow;
    
    }
    
    
    
    /* button[class="ans"] {
    
    background-color: skyblue;
    
    color: brown;
    
    } 
    
    button:hover{
    
    color:black;
    
    background-color:hotpink;
    
    }
    
    h3:hover{
    
    text-decoration: underline;
    
    }
    
    button:active{
    
    background-color: black;
    
    color: white;
    
    }
    
    .post {
    
    color: black;
    
    }
    
    input[type="radio"]:checked+label{
    
    color: #b92b27;
    
    font-weight: bold;
    
    }
    
    h1::first-letter{
    
    color: black;
    
    }
    
    .ab::first-line{
    
    color: skyblue;
    
    }
    
    p::selection{
    
    background-color: limegreen;
    
    } */
    /* Global Styles 
    #CC313D, #F7C5CC*/
body {
    background-color: rgb(226, 110, 92) ;
}

/* Header Styles */
header {
    background-color:#F7C5CC;
    color: #CC313D;
}
.a{
    color: black;
}
/* Navigation Styles */
nav ul {
    color:black;
}

/* nav li a {
    color:wheat;
} */

nav li a:hover {
    background-color: skyblue;
    color: black;
}

/* Main Content Styles */
main {
    background-color:#fdf0d5;
    ;
}

.post {
    background-color: #a7c957;
    border: 1px solid black ;
}
.post a{
    font-family: Georgia;
    color: black;
}
.post h3 {
    color:black ;
    background-color:black;
    border: 10px;
}

span button{
    background-color:#F7C5CC ;
    color: black;
}
span button + button{
    background-color: #CC313D;
    color: black;
}
#div{
    height: 100px;
    width: 100px;
    background-color: black;
    border: 2px solid black;
    transition: 5s;
}
#div:hover{
    border-radius: 50%;
    background-color: pink;
}
